<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily To Do List</title>
    <style>
        /* Center content vertically and horizontally */
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
        }
        .task-container {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Daily To Do List</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.input(size=20) }}
        <p></p>
        {% for task in all_tasks %}
        <div class="task-container">
            <span>{{ task.task }}</span>
            <input type="checkbox" name="checkmark_{{ task.id }}" {% if task.done %}checked{% endif %}>
        </div>
        <p></p>
        {% endfor %}
    </form>    
<form method="post" action="{{ url_for('delete_button') }}">
    <button type="submit">Delete</button>
</form>
</body>
</html>

